<!DOCTYPE html>
<html ng-app="dartboard" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>DartScore</title>
  <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
